*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff04c;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.img{
    display: inline-block;
    position: static;

}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;    
    margin-top: 5%;
}

@media screen and (width<1000px) {
    .img img{
        width: 250px;
        height: auto;
        margin-top: 30%;
    }

    .logo img{
        width: 143px;
        height: auto;
        margin-top: 25%;
    }
}
