*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fff04c;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.img{
    display: inline-block;
    position: static;

}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;    
    margin-top: 5%;
}

@media screen and (max-width: 600px) {

    .img img{
        width: 150px;
        height: 215px;
    }
    .logo img{
        width: 86px;
        height: auto
    }
}
